$body-c: #faefe0;
$title-c: #282a29;

$hh: 3.5rem;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $body-c;
  color: $title-c;
}

html {
  font-size: 85%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

section {
  padding: 7rem 2rem;

  @media screen and (max-width: 468px) {
    padding: 4rem 2rem;
  }
}

.btn {
  width: 160px;
  height: 60px;
  background-color: $title-c;
  color: $body-c;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $title-c;
    background-color: $body-c;
    box-shadow: 0 0 10px 0 $title-c;
  }
}
